.root {
  text-align: center;
  
  .lottie-container {
    .no-lottie-support {
      padding: 0.5rem 1rem 1rem;
      border-radius: 1rem;
      color: #f45;
      background-color: #122;
    }
  }

  button {
    margin-top: 1rem;
  }
}