$bg-color-dk: #1a1a1a;
$bg-color-lt: #3B3B3B;
$color-primary: #00F5F3;
$color-cta: #FFF021;
$color-text: #fafafa;

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.App {
  @include flexColumn();
  min-height: 100vh;

  color: $color-text;
  background-color: $bg-color-dk;
  background-image: linear-gradient(135deg, $bg-color-dk 5%, $bg-color-lt 25%, $bg-color-dk 80%);

  a {
    color: $color-cta;
  }
  button {
    padding: 0.25rem 0.5rem;
    border: 3px solid $color-primary;
    border-radius: 0.5rem;
    color: $color-primary;
    background-color: transparent;
  }

  header {
    @include flexColumn();
    margin: 2vw 0;
    
    .App-logo {
      height: 20vw;
      pointer-events: none;
    }
  }
  main {
    flex: 1;

    .animated-links-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 2vw;
      > * {        
        flex: 1;

        .email-animation {
          width: 200px;
        }
        .portfolio-animation {
          width: 240px;
        }
        .about-animation {
          width: 220px;
        }
      }
    }
  }
}
