$bg-color-dk: #1a1a1a;
$bg-color-lt: #3B3B3B;
$color-primary: #00F5F3;
$color-cta: #FFF021;
$color-text: #fafafa;

$breakpoints: (
  "min": 320,
  "xs": 400,
  "sm": 600,
  "md": 840,
  "lg": 1024,
  "xl": 1280,
  "ws": 1440,
  "hd": 1920,
);

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

@mixin media-breakpoint-gte($bp) {
  $minWidth: map-get($breakpoints, $bp) + "px";
  @media (min-width: $minWidth) {
    @content;
  }
}

.App {
  @include flexColumn();
  min-height: 100vh;

  color: $color-text;
  background-color: $bg-color-dk;
  $bg-color1: rgba(30, 30, 30, 1); // multiple gradient stops to attempt to get FF not to look banded
  $bg-color1a: rgba(40, 40, 40, 1);
  $bg-color2: rgba(50, 50, 50, 1);
  // $g: transparent;
  // $steps: 10;
  // @for $i from 1 to $steps {
  //   $g: append($g, fade-out($bg-color, 1 / $i) percentage($i / $steps), comma);
  //   $g: append($g, fade-out($bg-color, 1 / $i) percentage(($i + 0.6) / $steps), comma);
  // }
  // $g: append($g, $bg-color);
  // background: linear-gradient(to bottom, $g);
  
  background-image: linear-gradient(
    135deg, 
    $bg-color1 0%,
    $bg-color1a 15%,
    $bg-color2 35%,
    $bg-color1a 55%,
    $bg-color1 100%
  );
  
  
  
  //background-image: -moz-linear-gradient(-75deg, $bg-color-dk 5%, $bg-color-lt 25%, $bg-color-dk 80%);
  //background-attachment: fixed;

  a {
    color: $color-cta;
  }
  button {
    padding: 0.25rem 0.5rem;
    border: 3px solid $color-primary;
    border-radius: 0.5rem;
    color: $color-primary;
    background-color: transparent;
  }

  header {
    @include flexColumn();
    margin: 2vw 0;
    
    .App-logo {
      width: 50vw;
      @include media-breakpoint-gte(sm) {
        width: 30vw;
      }
      pointer-events: none;
    }
  }
  main {
    flex: 1;

    .animated-links-container {
      display: flex;
      flex-direction: column;
      @include media-breakpoint-gte(sm) {
        flex-direction: row;        
      }
      align-items: flex-end;
      gap: 2vw;
      > * {        
        flex: 1;
        $item-width: 55vw;
        $item-width-sm: 25vw;
        $item-width-md: 20vw;
        $item-width-lg: 15vw;
        .email-animation {
          width: $item-width;
        }
        .portfolio-animation {
          width: $item-width;
        }
        .about-animation {
          width: $item-width;
        }
        @include media-breakpoint-gte(sm) {
          .email-animation {
            width: $item-width-sm;
          }
          .portfolio-animation {
            width: $item-width-sm;
          }
          .about-animation {
            width: $item-width-sm;
          }
        }
        @include media-breakpoint-gte(md) {
          .email-animation {
            width: $item-width-md;
          }
          .portfolio-animation {
            width: $item-width-md;
          }
          .about-animation {
            width: $item-width-md;
          }
        }
        @include media-breakpoint-gte(lg) {
          .email-animation {
            width: $item-width-lg;
          }
          .portfolio-animation {
            width: $item-width-lg;
          }
          .about-animation {
            width: $item-width-lg;
          }
        }
      }
    }
  }
}
