$bg-color-dk: #1a1a1a;
$bg-color-lt: #3B3B3B;
$color-primary: #00F5F3;
$color-cta: #FFF021;
$color-text: #fafafa;

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.App {
  @include flexColumn();
  min-height: 100vh;

  color: $color-text;
  background-color: $bg-color-dk;
  $bg-color1: rgba(30, 30, 30, 1); // multiple gradient stops to attempt to get FF not to look banded
  $bg-color1a: rgba(40, 40, 40, 1);
  $bg-color2: rgba(50, 50, 50, 1);
  // $g: transparent;
  // $steps: 10;
  // @for $i from 1 to $steps {
  //   $g: append($g, fade-out($bg-color, 1 / $i) percentage($i / $steps), comma);
  //   $g: append($g, fade-out($bg-color, 1 / $i) percentage(($i + 0.6) / $steps), comma);
  // }
  // $g: append($g, $bg-color);
  // background: linear-gradient(to bottom, $g);
  
  background-image: linear-gradient(
    135deg, 
    $bg-color1 0%,
    $bg-color1a 15%,
    $bg-color2 35%,
    $bg-color1a 55%,
    $bg-color1 100%
  );
  
  
  
  //background-image: -moz-linear-gradient(-75deg, $bg-color-dk 5%, $bg-color-lt 25%, $bg-color-dk 80%);
  //background-attachment: fixed;

  a {
    color: $color-cta;
  }
  button {
    padding: 0.25rem 0.5rem;
    border: 3px solid $color-primary;
    border-radius: 0.5rem;
    color: $color-primary;
    background-color: transparent;
  }

  header {
    @include flexColumn();
    margin: 2vw 0;
    
    .App-logo {
      height: 20vw;
      pointer-events: none;
    }
  }
  main {
    flex: 1;

    .animated-links-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 2vw;
      > * {        
        flex: 1;

        .email-animation {
          width: 200px;
        }
        .portfolio-animation {
          width: 200px;
        }
        .about-animation {
          width: 220px;
        }
      }
    }
  }
}
